@use "./mixins" as *;

header {
  background-color: var(--ms-primary-color);
  height: 60px;
  line-height: 60px;
  color: white;
  
  .container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

    nav {
      @include flex($content:space-between);
      
      .header-left {
        width: 30%;
  
        ul {
          list-style-type: none;
          @include flex($content:start);
          gap: 10px;

          li {
            &:hover {
              color: rgb(193, 193, 193);
              margin-bottom: -2px;
              border-bottom: 2px solid rgb(82, 82, 255);
            }
          }
  
          .active {
            color: brown;
          }
        }
    
      }
    
      .header-middle {
        img {
          width: 100px;
        }
      }
  
      .header-right {
        width: 30%;
        @include flex($content:end);
        gap: 10px;
      }
    }
  }

}